@model LibraryChornomorsk.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">@Model.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src=@WC.ImagePath@Model.Image width="30%" />
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(WC.AdminRole))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Редагування</a>
    }
    <a asp-action="Index" class="btn btn-primary">До списку</a>
</div>
