@model IEnumerable<LibraryChornomorsk.Models.Category>

@{
    ViewData["Title"] = "Категорії";
}

<h1 align="center">Категорії</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Додати категорію</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr align="center">
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td align="center">
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Редагування</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
                </td>
            </tr>
        }
    </tbody>
</table>
